 .u-section-1 {
  background-image: url("images/ggg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

.u-section-1 .u-shape-1 {
  height: 475px;
  width: 716px;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
  margin: 204px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -402px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-shape-1 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    width: 456px;
    margin-top: -242px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-shape-1 {
    height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 267px;
    width: 280px;
    margin-top: -187px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#fde8ee, #b2c8f3);
}

.u-section-2 .u-sheet-1 {
  min-height: 964px;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 659px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 0 8px 0 -8px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 625px;
  margin: -709px 0 -155px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 430px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px 30px 28px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(75, 125, 225) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 362px;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 430px;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(75, 125, 225) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-group-1 {
    width: 358px;
    min-height: 665px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 565px;
    margin-top: -707px;
    margin-bottom: 18px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5625rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    font-size: 1.5625rem;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-2 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2043px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 889px;
}

.u-section-3 .u-shape-1 {
  height: 666px;
  margin-top: 112px;
  margin-bottom: 0;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
  box-shadow: 0 0 35px 21px rgba(128,128,128,0.65);
  animation-duration: 1000ms;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -640px auto 0;
}

.u-section-3 .u-list-1 {
  width: 997px;
  margin: 24px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 22px) calc(33.3333% - 22px) calc(33.3333% - 22px);
  min-height: 434px;
  grid-gap: 33px 33px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-2 {
  margin: 14px 150px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 26px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-3 .u-text-4 {
  margin: 14px 62px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 26px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-3 .u-text-6 {
  margin: 14px 112px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 26px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 22px));
    min-height: 535px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 93px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 5px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1069px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1479px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 749px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-4 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 2s;
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 2s;
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 2s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 802px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1136px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 865px;
}

.u-section-5 .u-shape-1 {
  height: 477px;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -390px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 738px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  box-shadow: 0 -2px 40px 19px rgba(128,128,128,0.65);
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 5px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 87px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 154px;
  min-width: 94px;
  white-space: nowrap;
  margin: 27px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 736px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 609px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1282px;
  }

  .u-section-5 .u-shape-1 {
    height: 1011px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -924px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
}
